body {
	background-color: black;
	color: white;
}
@font-face {
	font-family: "nas";
	src: url("nastaliq.ttf");
}
h1 {
	font-size: 50pt;
}
.nas {
	font-family: "nas";
}
h2 {
	font-family: "times new roman";
	font-size: 45pt;
}
@media only screen and (max-width: 600px) {
	h1,h2 {
		font-size: 30pt;
	}
}
